@charset "utf-8";

/* -- 全局布局样式 -- */

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 15px;
    letter-spacing: .2px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.markdown-section h1 {
    padding-bottom: 1rem;
    border-bottom: 1px dashed #ccc;
}

.markdown-section h2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.markdown-section a {
    color: #42b983;
    font-weight: 600;
    padding: 0 .5rem;
}

.markdown-section a:hover {
    color: #3e915f;
    font-weight: 600;
    padding: 0 .5rem;
    text-decoration: none;
}

.markdown-section code {
    color: #e96900;
    padding: 3px 2px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
    background-color: #f8f8f8;
    font-family: "Roboto Mono", Monaco, courier, monospace;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}

.markdown-section pre > code {
    color: #525252;
}

.markdown-section blockquote {
    position: relative;
    padding: 12px 24px 12px 30px;
    margin: 2em 0;
    color: #34495e;
    border-left: 4px solid #f66;
    background-color: #f8f8f8;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.markdown-section blockquote p {
    margin: 0;
}

.markdown-section blockquote:before {
    content: "!";
    background-color: #f66;
    position: absolute;
    top: 14px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

/* -- 代码高亮 -- */

pre[class*="language-"] {
    background-color: #fbfbfb;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
    font-style: normal;
}

.token.tag, .token.selector {
    color: #da0000;
}

.token.attr-value {
    color: #4183c4;
}

.token.url, .token.symbol, .token.number, .token.boolean, .token.variable, .token.constant, .token.inserted {
    color: #351ea5;
}

.token.class-name, .language-json .token.property {
    color: #6f42c1;
}