*, :after, :before {
    box-sizing: border-box
}

body, html {
    overflow: hidden;
    height: 100%;
    font: 8px Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
    font-smoothing: antialiased
}

body, ul {
    margin: 0;
    padding: 0
}

body {
    background: #f5f5f5 url(/images/bg.jpg) no-repeat center;
    background-size: cover;
    color: #4d4d4d;
}

.block-box {
    width: 380px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -270px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: #999 0 2px 10px;
}

.block-box .main-title {
    text-align: center;
    font-size: 20px;
    color: #353535;
    margin-bottom: 23px;
    margin-top: 50px;
}

.block-box .sub-title {
    text-align: center;
    color: #a3a3a3;
    font-size: 15px;
    padding: 0 10px;
    line-height: 1.3;
}

.block-box form {
    width: 80%;
    margin: 40px auto 0;
}

.block-box form button {
    margin-top: 50px;
    font-weight: bold;
}